@font-face {
  font-family: "hafs";
  src: url('/images/UthmanicHafs1_Ver17.ttf');
}

:root {
  font-size: 22px;
}

h2 {
  font-size: 1.2rem;
}

.dropdown-menu {
  height: 50vh;
  overflow-y: auto;
}

.accordion-header {
  font-size: 0.9rem;
}

.ref {
  color: #198754;
}

.accordion-item button {
  font-size: 0.9rem;
}

.topics a,
.tags,
.tags a {
  text-decoration: none;
  color: inherit;
}

.tags,
.tags a {
  z-index: 0;
  font-size: 0.5rem!important;
  color: gray;
}

.tags a:hover,
.tags a:focus {
  color: inherit;
  text-decoration: underline;
}

.far, .fas {
  color: darkred;
  width: 15px;
}

.admin-ctrls {
  z-index: 0;
}

[contenteditable=true] {
  border: 1px solid blue;
  background-color: yellow;
}

.trans,
.more {
  font-size: 0.8rem;
  text-align: justify;
}

.trans sup {
  font-weight: bold;
}

.text, :lang(ar) {
  direction: rtl;
  font-family: hafs;
  text-align: justify;
  font-size: 1.3rem;
}

.search-results em {
  color: blue;
  font-weight: bold;
  font-style: normal;
}

.search-results .result {
  color: inherit;
  text-decoration: none;
}

.search-results .result:hover {
  color: inherit;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 18px;
  }
}