@font-face {
  font-family: "hafs";
  src: url('/images/UthmanicHafs1_Ver17.ttf');
}

h2 {
  font-size: 1.2rem;
}

.accordion-header {
  font-size: 0.9rem;
}

.accordion-item button {
  font-size: 0.9rem;
}

.trans,
.more {
  font-size: 0.8rem;
  text-align: justify;
}

.trans sup {
  font-weight: bold;
}

.text {
  direction: rtl;
  font-family: hafs;
  text-align: justify;
  font-size: 1.3rem;
}

.suranav ol {
  font-size: 0.8rem;
}

.suranav li {
  white-space: nowrap;
}