@font-face {
  font-family: "hafs";
  src: url('/ataglance/images/UthmanicHafs1_Ver17.ttf');
}

h2 {
  font-size: 1.2rem;
}

.accordion-header {
  font-size: 0.9rem;
}

.ref {
  color: #198754;
}

.accordion-item button {
  font-size: 0.9rem;
}

.fa-bookmark {
  color: darkred;
}

.admin-ctrls {
  z-index: 0;
}

[contenteditable=true] {
  border: 1px solid blue;
  background-color: yellow;
}

.trans,
.more {
  font-size: 0.8rem;
  text-align: justify;
}

.trans sup {
  font-weight: bold;
}

.text, :lang(ar) {
  direction: rtl;
  font-family: hafs;
  text-align: justify;
  font-size: 1.3rem;
}

.suranav nav {
  overflow: scroll; 
  height: 100vh;
}

.suranav {
  font-size: 0.8rem;
}

.suranav li {
  white-space: nowrap;
}

.search-results em {
  color: blue;
  font-weight: bold;
  font-style: normal;
}

.search-results .result {
  color: inherit;
  text-decoration: none;
}

.search-results .result:hover {
  color: inherit;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .suranav nav {
    overflow-x: scroll; 
    overflow-y: scroll;
  }
}